# Rust
/target
Cargo.lock
/cross

# ignore .DS_Store files (goddamnit apple)
.DS_STORE

# Buenzli Data
/sg_comments
/reddit_dumps
output.json

# IntelliJ
/.idea

# local data
*.svg
*.json
*.txt
*.zst

# shell scripts
build_x86.sh
