# Rust
/target
Cargo.lock
/cross

# ignore .DS_Store files (goddamnit apple)
.DS_STORE

# Buenzli Data
/sg_comments
/reddit_dumps
output.json

# IntelliJ
/.idea

# random file types that I don't want to commit
*.svg
*.json
*.txt
*.zst
src/main.singlethreaded
